body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------------- HOME PAGE ---------------------------- */
.homeBody {
  background-image: url("./resources/cnbBack.gif"); /*Loads background graphic.*/
  height: 1000px;
}

.homeHeader {
  color: white;
}

/* ----------------------------- NAV BAR ----------------------------- */
.CustomNavBar {
  display: flex;
  flex-direction: row; /*specified here for safety, though default is row.*/
  height: 75px;
}

.dropActive {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.dropInactive {
  visibility: hidden;
  opacity: 0;
}
